// Fonts
$principalFont: "Roboto", sans-serif;

// Colors
$backgroundColor: #f5f6fa;
$principalColor: #182C61;
$buttonColor: #44bd32;
$buttonHoverColor: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;